@import "variables";
@import "mixins";

body {
  background-image: url("../images/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @include mobile {
    background-image: url("../images/home/background-home-mobile.jpg");
  }

  @include tablet {
    background-image: url("../images/home/background-home-tablet.jpg");
  }
}

.home {
  padding: 15% 10% 5% 10%;

  &__explore-btn {
    border: none;
    border-radius: 100%;
    cursor: pointer;
    font-family: $font-heading;
    font-size: $fs-h4;
    text-transform: uppercase;
    transform: translateY(3.125rem);
    padding: 10rem;
    height: 20rem;
    width: 20rem;

    &-border {
      border-radius: 100%;
      width: 25rem;
      transition: background-color 0.2s ease-in;

      &:hover {
        background-color: hsla(0, 0%, 59%, 30%);
      }
    }
  }
}

.intro {
  margin-right: 30%;
  width: 30%;

  &__heading {
    color: $color-header-text;
    font-family: $font-heading;
    font-size: $fs-h1;
    font-weight: $fw-reg;
    text-transform: uppercase;
    margin: 0;

    &--span {
      color: $color-body-text;
      display: block;
      font-family: $font-special-heading;
      font-size: $fs-h5;
      font-weight: $fw-reg;
      letter-spacing: $ls-h5;
      margin-bottom: 1.875rem;
      width: 25rem;
    }
  }

  &__body {
    color: $color-body-text;
    font-family: $font-body;
    font-size: $fs-body;
    line-height: 1.75;
    margin-top: 3.125rem;
    width: 28.125rem;
  }
}

@include tablet-mobile {
  .home {
    padding: auto 0 0 0;

    &__explore-btn-border {
      margin-bottom: 10%;
      &:hover {
        background: none;
      }
    }
  }

  .intro {
    margin: 0;

    &__heading {
      text-align: center;
    }

    &__body {
      text-align: center;
    }
  }
}

@include mobile {
  .home {
    &__explore-btn {
      width: 10rem;
      height: 10rem;
      padding: 0;
    }
  }

  .intro {
    margin-top: 20%;

    &__heading {
      font-size: 5rem;

      &--span {
        font-size: 1rem;
      }
    }

    &__body {
      font-size: 0.9375rem;
      width: 350%;
    }
  }
}
