@mixin mobile {
  @media only screen and (max-width: 47.9688rem) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 48rem) and (max-width: 79.9375rem) {
    @content;
  }
}

@mixin tablet-mobile {
  @media only screen and (max-width: 79.9375rem) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 80rem) {
    @content;
  }
}
