// Colors
$color-neutral: hsla(230, 35%, 7%, 0.3);
$color-body-text: hsl(231, 77%, 90%);
$color-header-text: hsl(0, 0%, 100%);

// Typography
$font-heading: "Bellefair", serif;
$font-special-heading: "Barlow Condensed", sans-serif;
$font-body: "Barlow", sans-serif;
$fs-h1: 9.375rem;
$fs-h2: 6.25rem;
$fs-h3: 3.5rem;
$fs-h4: 2rem;
$fs-h5: 1.75rem;
$fs-sh1: 1.75rem;
$fs-sh2: 0.875rem;
$fs-nav: 1rem;
$fs-body: 1.125rem;
$fw-reg: 400;
$fw-bold: 700;
$ls-h5: 0.296875rem;
$ls-sh2: 0.146875rem;
$ls-nav: 0.16875rem;
