@import "variables";
@import "mixins";

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

// Helper Classes
.flex {
  display: flex;

  &-fd-c {
    flex-direction: column;
  }

  &-fd-cr {
    flex-direction: column-reverse;
  }

  &-fd-rr {
    flex-direction: row-reverse;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-sa {
    justify-content: space-around;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-se {
    justify-content: space-evenly;
  }
  
  &-jc-fe {
    justify-content: flex-end;
  }

  &-ai-c {
    align-items: center;
  }

  &-rg-20 {
    row-gap: 1.25rem;
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;

  &-mobile {
    @include tablet {
      display: none;
    }

    @include desktop {
      display: none;
    }
  }

  &-desktop {
    @include tablet-mobile {
      display: none;
    }
  }
}

@include tablet-mobile {
  .flex-tm {
    display: flex;
  }

  .flex {
    &-fd {
      &-c-tm {
        flex-direction: column;
      }
      
      &-cr-tm {
        flex-direction: column-reverse;
      }
    }

    &-jc {
      &-c-tm {
        justify-content: center;
      }
    }

    &-ai {
      &-c-tm {
        align-items: center;
      }
    }
  }
}

@include mobile {
  .flex-m {
    display: flex;
  }

  .flex {
    &-fd {
      &-c-m {
        flex-direction: column;
      }
    }
  }
}

.bg {
  &-home {
    background-image: url("../images/home/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet {
      background-image: url("../images/home/background-home-tablet.jpg");
    }

    @include mobile {
      background-image: url("../images/home/background-home-mobile.jpg");
    }
  }

  &-destination {
    background-image: url("../images/destination/background-destination-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet {
      background-image: url("../images/destination/background-destination-tablet.jpg");
    }

    @include mobile {
      background-image: url("../images/destination/background-destination-mobile.jpg");
    }
  }
}

@include mobile {
  .hidden-mobile {
    display: none;
  }
}
